<h2>Add a brand to <%= @store.name() %></h2>

<% if @store.brands.any? %>
<h2>Brands available at <%= @store.name %></h2>
<ul>
<% @store.brands.each do | store | %>
<li><a href="/brands/<%= brand.id %>"><%= brand.name %></a></li>
<% end %>
</ul>
<% end %>

<form action="/stores/<%= @store.id %>/brands" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <select class="form-control" name="brand">
      <% if @brands %>
      <% @brands.each do | brand | %>
      <option value="<%= brand.id %>"> <%= brand.name %> </option>
      <% end %>
      <% end %>
    </select>
  </div>
  <button class="btn btn-info" type="submit" name="button">Add</button>
</form>
